################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BibliotecaMusical/.vs/BibliotecaMusical/v15/Server/sqlite3
/AzureTraining/AzureTraining.WebJob/bin/Debug
/AzureTraining/AzureTraining.WebJob/obj/Debug
/BibliotecaMusical/BibliotecaMusical.WebJob/obj/Debug
/BibliotecaMusical/BibliotecaMusical.WebJob/bin/Debug
