
@{
    ViewBag.Title = "Tables";
}

<h2>Tables</h2>

<form method="post">
	<div class="form-group">
		<label for="description">Description:</label>
		<input name="description" type="text" class="form-control" />
	</div>
	<button type="submit" class="btn btn-success">Submit</button>
</form>