@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Azure Training</h1>
	<p class="lead">Basic Training on Azure.</p>
	<p>
		<a href="https://azure.microsoft.com/en-us/" class="btn btn-primary btn-lg">Learn more &raquo;</a>
		<a href="https://portal.azure.com/" class="btn btn-primary btn-lg">Portal &raquo;</a>
	</p>
</div>