@{
	ViewBag.Title = "";
}

<div class="jumbotron">
	<h1>Biblioteca Musical</h1>
	<p class="lead">Azure Training - Proyecto.</p>
	<p>
		<a href="https://azure.microsoft.com/en-us/" class="btn btn-primary btn-lg">Learn more &raquo;</a>
		<a href="https://portal.azure.com/" class="btn btn-primary btn-lg">Portal &raquo;</a>
	</p>
</div>